<footer class="page__footer">
    <div class="footer__button-up-comtainer"><a href="#header__seccition">
        <button class="footer__button-up">
                <img class="hero__button-up-img" src="/assets/images/ico-arrow.svg" alt="botón para pasar a la siguiente sección"></a>
        </button>
    </div>
    <div class="footer__grid">
        <ul class="footer__menu">
            <li class="footer__menu-item">Articles</li>
            <li class="footer__menu-item">Books</li>
            <li class="footer__menu-item">Events</li>
            <li class="footer__menu-item">Reasons</li>
            <li class="footer__menu-item">Tips</li>
        </ul>

        <ul class="footer__rrss">
            <li class="footer__rrss-item">Twitter</li>
            <li class="footer__rrss-item">Instagram</li>
            <li class="footer__rrss-item">Mastodon.social</li>
        </ul>

        <div class="footer__grid-copy">
            <div class="footer__copyrigth">©2017</div>

            <div class="footer__love">we <span class="heart">❤︎</span> components</div> 
        </div>
    </div>

</footer>

