<header class="page__header">

    <div class="header__container">

        <div class="hero__menu">
            <img class="hero__menu-img" scr="/assets/images/ico-menu.svg">
        </div>

        <div class="hero__container">
            <div class="hero__gradient"></div>

            <div class="hero__anonymous">
                <h1 class="hero__anonymous-text">anonymous proxy</h1>
            </div>
            <div class="hero__habitasse">
                <h2 class="hero__habitasse-text">In hac habitasse platea dictumst.</h2>
            </div>
            <div class="botton__down-container">
                <buttom class="hero__button-down">
                    <img class="hero__button-down-img" src="/assets/images/ico-scroll-down.svg" alt="botón para pasar a la siguiente sección">
                </buttom>
            </div>
        </div>
    </div>
                
</header>
