<header class="page__header">@@label

    <div class="header__container">
        <div class="header__img">
            <img src="images/cover.jpg">
        </div>
        <div class="header__menu"></div>
        <div clas="header__anonymous">
            <h1>anonymous proxy</h1>
        </div>
        <div class="header__habitasse">
            <h2>In hac habitasse platea dictumst.</h2>
        </div>
        <buttom class="header__button-down">
            <img src="images/ico-scroll-down.svg">
        </div>
    </div>
    
</header>
