<header class="page__header">@@label

        <div class="hero__container">
                <div class="hero__img">
                    <div class="hero__gradient"></div>
                    <img src="/assets/images/cover.jpg" alt="imagen fondo ciudad">
                </div>
                <div class="hero__menu"></div>
                <div clas="hero__anonymous">
                    <h1>anonymous proxy</h1>
                </div>
                <div class="hero__habitasse">
                    <h2>In hac habitasse platea dictumst.</h2>
                </div>
                <buttom class="hero__button-down">
                    <img src="/assets/images/ico-scroll-down.svg" alt="botón para pasar a la siguiente sección">
                </div>
            </div>
        
</header>
