<main id="main__section" class="page__main">

    <div class="main__container">
        <div class="main__block1">
            <h3 class="main__block1-title">Insomnia Tips</h3>
            <h4 class="main__block1-subtitle">Looking Through A Window</h4>
            <p class="main__block1-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <button class="main__button-go">go</button>
        </div>

        <h3 class="main__block2-title1 title">3 Reasons To Purchase</h3>

        <div class="main__block2">
            <ul class="main_block2-list">

                <li class="block__item1">
                    <h4 class="main__block2-subtitle1 subtitle">Ut sed metus</h4>
                    <p class="main__block2-text1 text">Lorem ipsum dolor sit amet, consecteur.</p>
                </li>

                <li class="block__item2"> 
                    <h4 class="main__block2-subtitle2 subtitle">Curabitur ac erat</h4>
                    <p class="main__block2-text2 text">Mauris mattis urna quis lorem molestie.</p>
                </li>
                <li class="block__item3">
                    <h4 class="main__block2-subtitle3 subtitle">Morbi dictum</h4>
                    <p class="main__block2-text3 text">Aliquam in dolor et dolor tincidunt.</p>
                </li>
            </ul>
        </div>

        <div class="button__reasons-container">
            <button class="main__button-reasons">More reasons</button>
        </div>
    </div>

</main>
