<main class="page__main">@@label

    <div class="main__container">
        <div class="main__block1">
            <h3 class="main__block1-title">Insomnia Tips</h3>
            <h4 class="main__block1-subtitle">Looking Through A Window</h4>
            <p class="main__block1-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <button class="main__button-go">go</button>
        </div>

        <div class="main__block2">
            <div class="main__block2-title1">3 Reasons To Purchase</div>

            <div class="main__block2-subtitle1">Ut sed metus</div>
            <div class="main__block2-text1">Lorem ipsum dolor sit amet, consecteur.</div>

            <div class="main__block2-subtitle2">Curabitur ac erat</div>
            <div class="main__block2-text2">Mauris mattis urna quis lorem molestie.</div>

            <div class="main__block2-subtitle3">Morbi dictum</div>
            <div class="main__block2-text3">Aliquam in dolor et dolor tincidunt.</div>
        </div>

        <button class="main__button-reasons">More reasons</button>
    </div>

</main>
