body {
  background: url("../images/logo-adalab-80px.png") center center no-repeat #ffffff;
  height: 100vh;
  margin: 0;
}

.hero__container {
  height: 100vh;
  background-image: url("/assets/images/cover.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__anonymous {
  width: 100vw;
  color: #ffffff;
  font-size: 42px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  text-align: center;
}

.hero__habitasse-text {
  width: 100vw;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.hero__button-down {
  background-color: #ffffff;
  background-size: 45px 45px;
  -webkit-transform: scale(3);
  transform: scale(3);
  border-radius: 50%;
}

.hero__button-down-img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.main__container {
  padding: 15px;
}

.main__block1-title {
  color: #8ccbea;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.main__block1-subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}

.main__block1-text {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.main__button-go {
  width: 75px;
  height: 45px;
  border-radius: 25%;
  border: 2px solid #f26002;
  background-color: white;
  color: #f26002;
}

.main__block2 {
  margin: 0;
  background-color: #eff9ff;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "subtitle" "text";
  grid-gap: 5px;
}

.main__block2-title1 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  grid-column: span 1;
  text-align: center;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  grid-column: span 1;
  text-align: center;
}

.button__reasons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__button-reasons {
  width: 75px;
  height: 45px;
  border-radius: 25%;
  background-color: #f26002;
  color: #ffffff;
}

.page__footer {
  background-color: #304268;
}

.footer__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__menu-item {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.footer__rrss {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.footer__copyrigth {
  padding: 15px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.footer__love {
  padding: 15px 15px 60px 15px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.heart {
  color: #f26002;
}

/*# sourceMappingURL=main.css.map */
