// Button Top

.footer__button-up-comtainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 45px;
    transform: translateY(-70px);
}
    
.footer__button-up {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: $color-white;
    border-radius: 50%;
}

.page__footer {
    background-color: $color-dark-blue;
}

.footer__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.footer__menu-item {
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
}

.footer__rrss {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
}

.footer__copyrigth {
    padding: 15px;
    text-align: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
}

.footer__love {
    padding: 15px 15px 60px 15px;
    text-align: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
}

.heart {
    color: $color-orange;
}