.page__footer {
    background-color: $color-dark-blue;
}

// Button Top

.footer__button-up-comtainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 45px;
    transform: translateY(-70px);
}
    
.footer__button-up {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: $color-white;
    border-radius: 50%;
    border: 0;
}

// Menu

.footer__menu {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
    text-transform: uppercase;
    line-height: 1.88; 
}

// RRSS

.footer__rrss {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
    text-transform: uppercase;
    line-height: 1.88;
}

// Copyright

.footer__copyrigth {
    padding: 15px;
    text-align: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
}

.footer__love {
    padding: 0px 15px 60px 15px;
    text-align: center;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
}

.heart {
    color: $color-orange;
}