.page__footer {
    background-color: $color-blue;
    @media all and (min-width: 1200px) {
        padding: 0 370px 0 370px;
    }
}

// Button Top

.footer__button-up-comtainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 45px;
    transform: translateY(-70px);
}
    
.footer__button-up {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: $color-white;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover {
        width: 65px;
        height: 65px;
      }
}

// Menu

.footer__grid {
    @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    @media all and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.footer__menu {
    margin: 0;
    padding-left: 0;
    padding-bottom: 45px; 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-black;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
    text-transform: uppercase;
    line-height: 1.88; 
    @media all and (min-width: 768px) {
        justify-content: flex-start;
        align-items: flex-start;
        grid-column: 2 / 3;
    }
}

// RRSS

.footer__rrss {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; 
    color: $color-black;
    font-family: $font-family-secondary;
    font-size: $font-size-s;
    text-transform: uppercase;
    line-height: 1.88;
    @media all and (min-width: 768px) {
        justify-content: flex-start;
        align-items: flex-start;
        grid-column: 3 / 4;
    }
}

// Copyright

.footer__grid-copy {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;
    @media all and (min-width: 768px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    @media all and (min-width: 1200px) {
        width: 120px;
        margin-right: 60px; 
    }
}

.footer__copyrigth {
    padding: 15px;
    text-align: center;
    color: $color-black;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
    @media all and (min-width: 768px) {
        text-align: left;
        padding-left: 39px;
    }
    @media all and (min-width: 1200px) {
        padding-left: 0px;
    }
}

.footer__love {
    padding: 0px 15px;
    text-align: center;
    color: $color-black;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
    @media all and (min-width: 768px) {
        text-align: left;
        padding-left: 39px;
    }
    @media all and (min-width: 1200px) {
        padding: 0;
    }
}

.heart {
    color: $color-orange;
}

.components {
    @media all and (min-width: 768px) {
    color: $color-orange;
    }
}