.page__main {
    padding-bottom: 60px;
}

// Block Looking

.main__block1 {
    padding: $padding-mobile;
    padding-bottom: 45px;
}

.main__block1-title {
    color: $color-light-blue;
    font-family: $font-family-secondary;
    font-size: $font-size-xs;
    font-weight: normal;
}

.main__block1-subtitle {
    margin: 0;
    font-family: $font-family-primary;
    font-size: $font-size-xl;
}

.main__block1-text {
    color: #4a4a4a;
    font-family: $font-family-secondary;
    font-size: $font-size-m;
    line-height: 1.67;
}

// Button Go

.main__button-go {
    width: 75px;
    height: 45px;
    border-radius: 70px;
    border: 2px solid $color-orange;
    background-color: white;
    color: $color-orange;
    font-size: $font-size-l;
    text-transform: capitalize;
}

// Block Reasons

.main__block2 {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title" "subtitle" text;
    grid-gap: 45px;
    background-color: #eff9ff;
}

.main__block2-title1 {
    margin: 0;
    padding: 0 0 45px 0;
    height: 30px;
    list-style: none;
    font-family: $font-family-primary;
    font-size: $font-size-xl;
    text-align: center;
}

.subtitle {
    font-family: $font-family-primary;
    font-size: $font-size-m;
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    padding: 0 70px 0 70px;
}

.text {
    font-family: $font-family-secondary;
    font-size: $font-size-m;
    grid-column: span 1;
    text-align: center;
    padding: 0 70px 0 70px;
}

// Button Reasons

.button__reasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.main__button-reasons {
    width: 190px;
    height: 45px;
    margin: 0;
    padding: 0;
    border-radius: 70px;
    border: 0;
    background-color: $color-orange;
    color: $color-white;
    font-family: $font-family-secondary;
    font-size: $font-size-m;
}