// Colors

$color-orange: #f26002;
$color-white: #ffffff;
$color-light-blue: #8ccbea;
$color-blue: #0271bc;
$color-dark-blue: #304268;

// Fonts

$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Roboto', sans-serif;

// Paddings

$padding-mobile: 15px;
$padding-tablet: 39px;
$padding-desktop: 245px;