// Colors

$color-orange: #f26002;
$color-white: #ffffff;
$color-litle-blue: #eff9ff;
$color-light-blue: #8ccbea;
$color-blue: #0271bc;
$color-dark-blue: #304268;
$color-black: black;

// Fonts

$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Roboto', sans-serif;

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 42px;

// Paddings

$padding-mobile: 15px;
$padding-tablet: 39px;
$padding-desktop: 245px;
